In [1]:
import pandas as pd
training = pd.read_csv(r'C:\Users\admin\Desktop\Train_data.csv') #load data
test = pd.read_csv(r'C:\Users\admin\Desktop\Test_data.csv') #load data

In [2]:
training.head()

,Unnamed: 0,Unnamed: 0.1,eventType,grid,roadway,year,month,day,hour,weather_code,road_code,date,Crash,DOW,Day_of_year,Weekend,hr_bin,month_bin
0,0,0,Disabled Vehicle,9041,I-75,2012,1,3,11,800.0,1.0,2012-01-03,0.0,1,3,0.0,3,0
1,1,1,Disabled Vehicle,8770,I-75,2012,1,3,15,800.0,1.0,2012-01-03,0.0,1,3,0.0,5,0
2,2,2,Disabled Vehicle,7414,I-75,2012,1,3,16,800.0,1.0,2012-01-03,0.0,1,3,0.0,5,0
3,3,3,Disabled Vehicle,7869,I-75,2012,1,3,17,800.0,1.0,2012-01-03,0.0,1,3,0.0,5,0
4,4,4,Disabled Vehicle,9221,I-75,2012,1,3,17,800.0,1.0,2012-01-03,0.0,1,3,0.0,5,0

In [3]:
training = training.drop(["Unnamed: 0","Unnamed: 0.1","date","eventType"], axis=1)
test = test.drop(["Unnamed: 0","Unnamed: 0.1","date","eventType"], axis=1)

In [4]:
training.head()

,grid,roadway,year,month,day,hour,weather_code,road_code,Crash,DOW,Day_of_year,Weekend,hr_bin,month_bin
0,9041,I-75,2012,1,3,11,800.0,1.0,0.0,1,3,0.0,3,0
1,8770,I-75,2012,1,3,15,800.0,1.0,0.0,1,3,0.0,5,0
2,7414,I-75,2012,1,3,16,800.0,1.0,0.0,1,3,0.0,5,0
3,7869,I-75,2012,1,3,17,800.0,1.0,0.0,1,3,0.0,5,0
4,9221,I-75,2012,1,3,17,800.0,1.0,0.0,1,3,0.0,5,0

In [5]:
from sklearn import preprocessing  
label_encoder = preprocessing.LabelEncoder()  
training['roadway']= label_encoder.fit_transform(training['roadway']) 
  
training['roadway'].unique()

array([13, 57, 52, 30,  9, 27,  7,  6, 10, 23, 18, 25, 54,  0,  4,  3,  2,
       50, 12, 59, 20, 60,  5, 55,  8, 16, 11, 24, 15, 22, 61, 17, 53, 51,
       48, 21, 19, 26, 14, 36, 31, 49, 29, 40, 28, 33, 35, 44, 41, 46, 56,
       43, 45, 32, 34, 42, 37, 39,  1, 38, 58, 47], dtype=int64)

In [6]:
training.head()

,grid,roadway,year,month,day,hour,weather_code,road_code,Crash,DOW,Day_of_year,Weekend,hr_bin,month_bin
0,9041,13,2012,1,3,11,800.0,1.0,0.0,1,3,0.0,3,0
1,8770,13,2012,1,3,15,800.0,1.0,0.0,1,3,0.0,5,0
2,7414,13,2012,1,3,16,800.0,1.0,0.0,1,3,0.0,5,0
3,7869,13,2012,1,3,17,800.0,1.0,0.0,1,3,0.0,5,0
4,9221,13,2012,1,3,17,800.0,1.0,0.0,1,3,0.0,5,0

In [7]:
y = training.Crash  
X = training.drop(['Crash','roadway' ], axis=1)

In [8]:
y_true = test['Crash']

In [9]:
test = test.drop(['Crash','roadway'], axis=1)

In [10]:
test.head()

,grid,year,month,day,hour,weather_code,road_code,DOW,Day_of_year,Weekend,hr_bin,month_bin
0,7777,2019,1,11,18,800.0,1.0,4,11,0.0,6,0
1,6500,2019,1,11,18,800.0,1.0,4,11,0.0,6,0
2,9582,2019,1,11,18,800.0,1.0,4,11,0.0,6,0
3,6229,2019,1,11,22,800.0,1.0,4,11,0.0,7,0
4,9600,2019,1,11,23,800.0,1.0,4,11,0.0,7,0

In [11]:
training.isnull().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 411382 entries, 0 to 411381
Data columns (total 14 columns):
grid            411382 non-null bool
roadway         411382 non-null bool
year            411382 non-null bool
month           411382 non-null bool
day             411382 non-null bool
hour            411382 non-null bool
weather_code    411382 non-null bool
road_code       411382 non-null bool
Crash           411382 non-null bool
DOW             411382 non-null bool
Day_of_year     411382 non-null bool
Weekend         411382 non-null bool
hr_bin          411382 non-null bool
month_bin       411382 non-null bool
dtypes: bool(14)
memory usage: 5.5 MB

In [12]:
training.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 411382 entries, 0 to 411381
Data columns (total 14 columns):
grid            411382 non-null int64
roadway         411382 non-null int64
year            411382 non-null int64
month           411382 non-null int64
day             411382 non-null int64
hour            411382 non-null int64
weather_code    411382 non-null float64
road_code       411382 non-null float64
Crash           411382 non-null float64
DOW             411382 non-null int64
Day_of_year     411382 non-null int64
Weekend         411382 non-null float64
hr_bin          411382 non-null int64
month_bin       411382 non-null int64
dtypes: float64(4), int64(10)
memory usage: 43.9 MB

In [13]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38618 entries, 0 to 38617
Data columns (total 12 columns):
grid            38618 non-null int64
year            38618 non-null int64
month           38618 non-null int64
day             38618 non-null int64
hour            38618 non-null int64
weather_code    38618 non-null float64
road_code       38618 non-null float64
DOW             38618 non-null int64
Day_of_year     38618 non-null int64
Weekend         38618 non-null float64
hr_bin          38618 non-null int64
month_bin       38618 non-null int64
dtypes: float64(3), int64(9)
memory usage: 3.5 MB

In [ ]:
X

In [15]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [16]:
model.fit(X,y)
y_pred = model.predict(test)

In [17]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_true,y_pred))

0.8902843233725206

In [18]:
from sklearn.metrics import classification_report
print(classification_report(y_true,y_pred))

             precision    recall  f1-score   support

        0.0       0.89      1.00      0.94     34379
        1.0       0.56      0.00      0.00      4239

avg / total       0.85      0.89      0.84     38618

In [19]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(class_weight='balanced')
model.fit(X,y)
y_pred2 = model.predict(test)
from sklearn.metrics import classification_report
print(classification_report(y_true,y_pred2))

             precision    recall  f1-score   support

        0.0       0.94      0.63      0.76     34379
        1.0       0.19      0.68      0.29      4239

avg / total       0.86      0.64      0.71     38618

In [20]:
from sklearn.ensemble import RandomForestClassifier
model2 = RandomForestClassifier()
model2.fit(X,y)
y_predrf = model2.predict(test)

C:\Users\admin\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [21]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_true,y_predrf))

0.8861152830286395

In [22]:
from sklearn.metrics import classification_report
print(classification_report(y_true,y_predrf))

             precision    recall  f1-score   support

        0.0       0.91      0.97      0.94     34379
        1.0       0.46      0.20      0.28      4239

avg / total       0.86      0.89      0.87     38618